<ak-grid-column size="12" ng-if="!isGadget">
    <ng-include src="'templates/header.html'" />
</ak-grid-column>
<ak-grid-column size="12" class="aui-navgroup aui-navgroup-horizontal" ng-if="!isGadget">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li ng-class="{ 'aui-nav-selected' : menuInfo.isView }">
                    <a href="#!/">View</a>
                </li>
                <li ng-class="{ 'aui-nav-selected' : menuInfo.isColumn }">
                    <a href="#!/columns">Columns</a>
                </li>
            </ul>
        </div>
    </div>
</ak-grid-column>
<ak-grid-column size="2" ng-if="!isGadget">
    <ng-include src="'templates/menu.html'" />
</ak-grid-column>

<ak-grid-column size="12" ng-if="showGadgetConfiguration">
    <ng-include src="'/templates/gadgetConfig.html'"></ng-include>
</ak-grid-column>

<ak-grid-column size="10" ng-if="!showGadgetConfiguration">
    <ng-include src="menuInfo.contentTemplate" onload="resize()"></ng-include>
</ak-grid-column>
